{% extends 'diary/base.html' %}
{% block content %}
{% load static %}

<style>
#frame{
    height:100000px
}
</style>
<link rel="stylesheet" href="{% static 'cake/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cake/css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cake/css/barfiller.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cake/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cake/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cake/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cake/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cake/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cake/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cake/css/style.css' %}" type="text/css">

<aside id="colorlib-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12 breadcrumbs text-center">
						<h2>Detail</h2>
						<p><span>{{dd.category}}</span></p>
					</div>
				</div>
			</div>
		</aside>
<!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Product detail</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <!--<form method="get" action="../cart_ok">-->
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__img">
                        <div class="product__details__big__img">
                            <img class="big_img" src="{{dd.thumb}}" alt="" id="poster">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <div class="product__label">{{dd.category}}</div>
                        <h4>{{dd.title}}</h4>
                        <input type="hidden" name="no" id="title" no="{{dd.title}}">
                        <h5>{{dd.price}}</h5>
                        <input type="hidden" name="no" id="price" no="{{dd.price}}">
                        <input type="hidden" name="no" id="no" no="{{dd.no}}">
                       <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida</p>-->
                        <ul>
                            <li>브랜드: <span>{{dd.brand}}</span></li>
                            <li>포인트: <span>{{dd.mileage}}</span></li>
                            <li>재질: <span>{{dd.material}}</span></li>
                            <li>사이즈: <span>{{dd.big}}</span></li>
                        </ul>
                        <div class="product__details__option">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1" id="amount" name="amount">
                                </div>
                            </div>
                            <button id="cartBtn" class="primary-btn">Add to cart</button>
                            <a href="#" class="heart__btn"><span class="icon_heart_alt"></span></a>
                        </div>
                    </div>
                </div>
            </div>
           <!-- </form>-->

            <div class="product__details__tab">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Additional information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Previews(1)</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <!--<div class="row d-flex justify-content-center">-->

                                   <iframe src="https://{{dd.detail}}" style="overflow:hidden;width:100%;height:100vh" width="100%" height="100%" id="frame"></iframe>
                           <!-- </div>-->
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Shop Details Section End -->

    <!-- Related Products Section Begin -->
    <section class="related-products spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Related Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="related__products__slider owl-carousel">

                    {% for row in list %}
                    <div class="col-lg-3">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{row.thumb}}">
                                <div class="product__label">
                                    <span>{{row.category}}</span>
                                </div>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="/diary/detail/?no={{row.no}}">{{row.title}}</a></h6>
                                <div class="product__item__price">{{row.price}}</div>
                                <div class="cart_add">
                                    <a href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <!-- Related Products Section End -->
{% endblock %}