{% extends 'diary/base.html' %}
{% block content %}
{% load static %}
<style>
    #logbtn{
        width:150px;
        height:50px;
    }
    #sel{
        width:70px;
        height:50px;
    }
</style>
<script type="text/javascript">
    $(function(){
        $('#idBtn').click(function(){
            var id = $('#id').val()
            if( id == ''){
                alert('아이디를 입력해주세요!');
                return;
            }
            $.ajax({
                url:'/diary/idcheck/?id='+id,
                type:'get',
                dataType:'json',
                success:function(response){
                    if(response.result != 'success'){
						console.error(response.data)
						return;
					}
					if(response.data == 'NO'){
						alert("존재하는 아이디입니다");
						$('#id').val('').focus();
						return;
					}else{
					    alert("사용가능한 아이디입니다");
						$('#idBtn').hide();
						return;
					}
                }

            })
        })
        $('#emailBtn').click(function(){
            var email = $('#email').val()
            if( email == ''){
                alert('이메일을 입력해주세요!');
                return;
            }
            $.ajax({
                url:'/diary/emailcheck/?email='+email,
                type:'get',
                dataType:'json',
                success:function(response){
                    if(response.result != 'success'){
						console.error(response.data)
						return;
					}
					if(response.data == 'NO'){
						alert("존재하는 이메일입니다");
						$('#email').val('').focus();
						return;
					}else{
					    alert("사용가능한 이메일입니다");
						$('#emailBtn').hide();
						return;
					}
                }

            })
        })
        $('#telBtn').click(function(){
            var tel=$('#tel').val()
            if(tel == ''){
                alert('전화번호를 입력해주세요');
                return;
            }
            $.ajax({
                url:'/diary/telcheck/?tel='+tel,
                type:'get',
                dataType:'json',
                success:function(response){
                    if(response.result != 'success'){
                        console.error(response.data)
						return;
                    }
                    if(response.data == 'NO'){
                        alert('이미 등록된 전화번호입니다');
                        $('#tel').val('').focus();
                        return;
                    }
                    else{
                        alert('사용가능한 전화번호입니다');
                        $('#telBtn').hide()
                        return;
                    }
                }
            })
        })
    })
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/slicknav.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/progressbar_barfiller.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css'%}">
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css'%}">
	<link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css'%}">
	<link rel="stylesheet" href="{% static 'assets/css/themify-icons.css'%}">
	<link rel="stylesheet" href="{% static 'assets/css/slick.css'%}">
	<link rel="stylesheet" href="{% static 'assets/css/nice-select.css'%}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

<aside id="colorlib-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12 breadcrumbs text-center">
						<h2>Login</h2>
						<p></p>
					</div>
				</div>
			</div>
		</aside>
    <div style="height:100px"></div>
<div class="register-form-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <div class="register-form text-center">
                            <!-- Login Heading -->
                            <div class="register-heading">
                                <span>회원가입</span>
                                <p>Create your account to get full access</p>
                            </div>

                            <form method="post" action="../signup_ok">
                                {% csrf_token %}
                            <div class="input-box">
                                <div class="single-input-fields">
                                    <label>아이디</label>
                                    <input type="text" placeholder="Enter full name" name="id" id="id" autocomplete="off">
                                    <div id="idBtn">아이디 중복체크</div>
                                </div>
                                <div class="single-input-fields">
                                    <label>이름</label>
                                    <input type="text" placeholder="Enter full name" name="name" autocomplete="off">
                                </div>
                                <div class="single-input-fields">
                                    <label>Email Address</label>
                                    <input type="email" placeholder="Enter email address" name="email" id="email" autocomplete="off">
                                    <div id="emailBtn">이메일 중복체크</div>
                                </div>
                                <div class="single-input-fields">
                                    <label>Password</label>
                                    <input type="password" placeholder="Enter Password" name="pwd">
                                </div>
                                <!--<div class="single-input-fields">
                                    <label>비밀번호 확인</label>
                                    <input type="password" placeholder="Confirm Password">
                                    <button class="logbtn">확인</button>
                                </div>-->
                                <div class="single-input-fields">
                                    <label>성별</label>
                                    <select id="sel" name="sex">
                                        <option name="sex" value="1">여자</option>
			                            <option name="sex" value="1">남자</option>
                                        </select>
                                </div>
                                <!-- <div class="single-input-fields">
                                    <label>우편번호</label>
                                    <input type="password" placeholder="Confirm Password" name="post">
                                </div>
                                <div class="single-input-fields">
                                    <label>주소</label>
                                    <input type="password" placeholder="Confirm Password" name="addr1">
                                </div>
                                <div class="single-input-fields">
                                    <label>상세주소</label>
                                    <input type="password" placeholder="Confirm Password" name="addr2">
                                </div>-->
                                <div class="single-input-fields">
                                    <label>전화번호</label>
                                    <input type="text" name="tel" id="tel" placeholder="'010-0000-000' 형식으로 입력해주세요" autocomplete="off">
                                    <div id="telBtn">전화번호 중복체크</div>
                                </div>
                            </div>
                            <!-- form Footer -->
                            <div class="register-footer">
                                <p> Already have an account? <a href="/diary/login/"> Login</a> here</p>
                                <input type="submit" class="submit-btn3" value="Sign Up" class="logbtn" id="logbtn">
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div style="height:100px"></div>
{% endblock %}